<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Test_Cases.Tests_1</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>select_Technology</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Technologies</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Title</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_features_dropdown</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_product_dropdown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
