<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e889df">  <td>22/04/21 14:53:51</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.initialize()[pri:0, instance:Test_Cases.Tests_1@748e9b20]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2018270965</td>   <td></td> </tr>
<tr bgcolor="d3cfc8">  <td>22/04/21 14:54:02</td>   <td>10654</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tests_1.select_Technology()[pri:3, instance:Test_Cases.Tests_1@748e9b20]">select_Technology</td> 
  <td>main@2018270965</td>   <td></td> </tr>
<tr bgcolor="e889df">  <td>22/04/21 14:54:08</td>   <td>16969</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.terminateBrowser()[pri:0, instance:Test_Cases.Tests_1@748e9b20]">&lt;&lt;terminateBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2018270965</td>   <td></td> </tr>
<tr bgcolor="d3cfc8">  <td>22/04/21 14:54:08</td>   <td>16922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tests_1.verify_Technologies()[pri:4, instance:Test_Cases.Tests_1@748e9b20]">verify_Technologies</td> 
  <td>main@2018270965</td>   <td></td> </tr>
<tr bgcolor="d3cfc8">  <td>22/04/21 14:53:57</td>   <td>5756</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tests_1.verify_Title()[pri:0, instance:Test_Cases.Tests_1@748e9b20]">verify_Title</td> 
  <td>main@2018270965</td>   <td></td> </tr>
<tr bgcolor="d3cfc8">  <td>22/04/21 14:53:58</td>   <td>6103</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tests_1.verify_features_dropdown()[pri:1, instance:Test_Cases.Tests_1@748e9b20]">verify_features_dropdown</td> 
  <td>main@2018270965</td>   <td></td> </tr>
<tr bgcolor="d3cfc8">  <td>22/04/21 14:54:00</td>   <td>8437</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tests_1.verify_product_dropdown()[pri:2, instance:Test_Cases.Tests_1@748e9b20]">verify_product_dropdown</td> 
  <td>main@2018270965</td>   <td></td> </tr>
</table>
