<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9881f0">  <td>22/04/18 16:26:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.getResult(org.testng.ITestResult)[pri:0, instance:Test_Cases.Tests_1@2c6ee758]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1487287849</td>   <td></td> </tr>
<tr bgcolor="9881f0">  <td>22/04/18 16:27:29</td>   <td>32446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.getResult(org.testng.ITestResult)[pri:0, instance:Test_Cases.Tests_3@616b241a]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1487287849</td>   <td></td> </tr>
<tr bgcolor="9881f0">  <td>22/04/18 16:26:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.getResult(org.testng.ITestResult)[pri:0, instance:Test_Cases.Tests_1@2c6ee758]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1487287849</td>   <td></td> </tr>
<tr bgcolor="9881f0">  <td>22/04/18 16:26:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.getResult(org.testng.ITestResult)[pri:0, instance:Test_Cases.Tests_1@2c6ee758]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1487287849</td>   <td></td> </tr>
<tr bgcolor="9881f0">  <td>22/04/18 16:27:46</td>   <td>49233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.getResult(org.testng.ITestResult)[pri:0, instance:Test_Cases.Tests_2@b8e246c]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1487287849</td>   <td></td> </tr>
<tr bgcolor="9881f0">  <td>22/04/18 16:26:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.getResult(org.testng.ITestResult)[pri:0, instance:Test_Cases.Tests_1@2c6ee758]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1487287849</td>   <td></td> </tr>
<tr bgcolor="9881f0">  <td>22/04/18 16:27:29</td>   <td>32446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.getResult(org.testng.ITestResult)[pri:0, instance:Test_Cases.Tests_3@616b241a]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1487287849</td>   <td></td> </tr>
<tr bgcolor="9881f0">  <td>22/04/18 16:27:29</td>   <td>32446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.getResult(org.testng.ITestResult)[pri:0, instance:Test_Cases.Tests_3@616b241a]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1487287849</td>   <td></td> </tr>
<tr bgcolor="9881f0">  <td>22/04/18 16:27:46</td>   <td>49233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.getResult(org.testng.ITestResult)[pri:0, instance:Test_Cases.Tests_2@b8e246c]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1487287849</td>   <td></td> </tr>
<tr bgcolor="9881f0">  <td>22/04/18 16:27:46</td>   <td>49233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.getResult(org.testng.ITestResult)[pri:0, instance:Test_Cases.Tests_2@b8e246c]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1487287849</td>   <td></td> </tr>
<tr bgcolor="9881f0">  <td>22/04/18 16:26:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.getResult(org.testng.ITestResult)[pri:0, instance:Test_Cases.Tests_1@2c6ee758]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1487287849</td>   <td></td> </tr>
<tr bgcolor="aa766b">  <td>22/04/18 16:26:33</td>   <td>-23395</td> <td>&nbsp;</td><td title="&gt;&gt;Tests_2.initialize()[pri:0, instance:Test_Cases.Tests_2@b8e246c]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1487287849</td>   <td></td> </tr>
<tr bgcolor="627c80">  <td>22/04/18 16:26:38</td>   <td>-18192</td> <td>&nbsp;</td><td title="&gt;&gt;Tests_3.initialize()[pri:0, instance:Test_Cases.Tests_3@616b241a]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1487287849</td>   <td></td> </tr>
<tr bgcolor="ed9363">  <td>22/04/18 16:26:25</td>   <td>-32147</td> <td>&nbsp;</td><td title="&gt;&gt;Tests_1.initialize()[pri:0, instance:Test_Cases.Tests_1@2c6ee758]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1487287849</td>   <td></td> </tr>
<tr bgcolor="ed9363">  <td>22/04/18 16:26:51</td>   <td>-5975</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tests_1.select_Technology()[pri:3, instance:Test_Cases.Tests_1@2c6ee758]">select_Technology</td> 
  <td>main@1487287849</td>   <td></td> </tr>
<tr bgcolor="627c80">  <td>22/04/18 16:27:09</td>   <td>11968</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tests_3.submit_form()[pri:2, instance:Test_Cases.Tests_3@616b241a]">submit_form</td> 
  <td>main@1487287849</td>   <td></td> </tr>
<tr bgcolor="aa766b">  <td>22/04/18 16:27:47</td>   <td>50531</td> <td>&nbsp;</td><td title="&lt;&lt;Tests_2.terminateBrowser()[pri:0, instance:Test_Cases.Tests_2@b8e246c]">&lt;&lt;terminateBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1487287849</td>   <td></td> </tr>
<tr bgcolor="627c80">  <td>22/04/18 16:27:47</td>   <td>50640</td> <td>&nbsp;</td><td title="&lt;&lt;Tests_3.terminateBrowser()[pri:0, instance:Test_Cases.Tests_3@616b241a]">&lt;&lt;terminateBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1487287849</td>   <td></td> </tr>
<tr bgcolor="ed9363">  <td>22/04/18 16:27:46</td>   <td>49245</td> <td>&nbsp;</td><td title="&lt;&lt;Tests_1.terminateBrowser()[pri:0, instance:Test_Cases.Tests_1@2c6ee758]">&lt;&lt;terminateBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1487287849</td>   <td></td> </tr>
<tr bgcolor="627c80">  <td>22/04/18 16:26:57</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tests_3.verify_Affiliate_Page()[pri:0, instance:Test_Cases.Tests_3@616b241a]">verify_Affiliate_Page</td> 
  <td>main@1487287849</td>   <td></td> </tr>
<tr bgcolor="aa766b">  <td>22/04/18 16:27:29</td>   <td>32458</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tests_2.verify_Pricing_Page()[pri:0, instance:Test_Cases.Tests_2@b8e246c]">verify_Pricing_Page</td> 
  <td>main@1487287849</td>   <td></td> </tr>
<tr bgcolor="ed9363">  <td>22/04/18 16:26:57</td>   <td>-109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tests_1.verify_Technologies()[pri:4, instance:Test_Cases.Tests_1@2c6ee758]">verify_Technologies</td> 
  <td>main@1487287849</td>   <td></td> </tr>
<tr bgcolor="ed9363">  <td>22/04/18 16:26:45</td>   <td>-11470</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tests_1.verify_Title()[pri:0, instance:Test_Cases.Tests_1@2c6ee758]">verify_Title</td> 
  <td>main@1487287849</td>   <td></td> </tr>
<tr bgcolor="aa766b">  <td>22/04/18 16:27:36</td>   <td>39766</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tests_2.verify_contact_page()[pri:2, instance:Test_Cases.Tests_2@b8e246c]">verify_contact_page</td> 
  <td>main@1487287849</td>   <td></td> </tr>
<tr bgcolor="ed9363">  <td>22/04/18 16:26:46</td>   <td>-10762</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tests_1.verify_features_dropdown()[pri:1, instance:Test_Cases.Tests_1@2c6ee758]">verify_features_dropdown</td> 
  <td>main@1487287849</td>   <td></td> </tr>
<tr bgcolor="627c80">  <td>22/04/18 16:27:03</td>   <td>6660</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tests_3.verify_join_now()[pri:1, instance:Test_Cases.Tests_3@616b241a]">verify_join_now</td> 
  <td>main@1487287849</td>   <td></td> </tr>
<tr bgcolor="aa766b">  <td>22/04/18 16:27:36</td>   <td>39724</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tests_2.verify_no_of_plans()[pri:1, instance:Test_Cases.Tests_2@b8e246c]">verify_no_of_plans</td> 
  <td>main@1487287849</td>   <td></td> </tr>
<tr bgcolor="ed9363">  <td>22/04/18 16:26:48</td>   <td>-8259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tests_1.verify_product_dropdown()[pri:2, instance:Test_Cases.Tests_1@2c6ee758]">verify_product_dropdown</td> 
  <td>main@1487287849</td>   <td></td> </tr>
</table>
